body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  transition: all 0.25s;
    background-color: crimson;
    font-style: normal ;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.05rem;
    color:white ;
    border-radius: 4px;
    border: 1px solid transparent ;
    text-transform: uppercase;
    display: inline-block ;
    text-align: center ;
    cursor: pointer;
    padding: 12px 10px; 
}

button:hover {
  color: crimson;
  background-color: white;
}

.displaytitle {
  color: black ;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.musicInfo {
  background-color: aqua;
}

